</html>
  <head>
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Naive HSFZ</title>
    <style type="text/css">
        h1{
            font-size:24px;
            color:rgb(255, 145, 0);
        }
        h2{
            font-size:18px;
        }
        </style>
  </head>
  <body>
      <h1>Naive HSFZ</h1>
      <h2>Mirrors for some websites</h2>
      <hr />
      <p>Mirrors for <strong>Google</strong></p>
      <p>Currently not available:(</p>
      <!--
      <a href="https://quick.likeso.ml/">Google 1</a>
      <a href="https://g.codery.ga/">Google 2</a>
      <a href="https://ggvip.zgdhhjha.com/">Google 3</a>
      <a href="https://google.ywhyme.cf/">Google 4</a>
      -->
      <p>Mirrors for <strong>Wikipedia</strong></p>
      <p>Currently not available:(</p>
      <!--
      <a href="https://cnwk.xsec.top/wiki/Wikipedia:%E9%A6%96%E9%A1%B5">Wikipedia 1</a>
      <a href="https://www.bywiki.com/">Wikipedia 2</a>
      -->
      <p>Mirrors for <strong>Youtube</strong></p>
      <p>Currently not available:(</p>
      <!--
      <a href="https://nogfw.the-youtube.win/">Youtube</a>
      -->
      <hr />
      <h2>Article Backups</h2>
      <p>
          <a href="/philosophia-wuhan1.html">对本次疫情的结构性反思（上）</a> 文章原链接: <a href="https://matters.news/@philosophia/%E5%AF%B9%E6%9C%AC%E6%AC%A1%E7%96%AB%E6%83%85%E7%9A%84%E7%BB%93%E6%9E%84%E6%80%A7%E5%8F%8D%E6%80%9D-%E8%B0%A3%E8%A8%80-%E5%AE%98%E5%83%9A%E5%92%8C%E5%9B%BD%E5%AE%B6%E4%B8%BB%E4%B9%89-%E4%B8%8A-zdpuAzU8UUWBV3sB7c9h6FVbGZSrsc9L9qUEdHBBpDRJzTHzu"> Matters </a>
      <br>
          <a href="/philosophia-wuhan2.html">对本次疫情的结构性反思（下）</a> 文章原链接: <a href="https://matters.news/@philosophia/%E5%AF%B9%E6%9C%AC%E6%AC%A1%E7%96%AB%E6%83%85%E7%9A%84%E7%BB%93%E6%9E%84%E6%80%A7%E5%8F%8D%E6%80%9D-%E8%B0%A3%E8%A8%80-%E5%AE%98%E5%83%9A%E4%B8%8E%E5%9B%BD%E5%AE%B6%E4%B8%BB%E4%B9%89-%E4%B8%8B-zdpuAkyrdUUBRVP43GqFAtWnyfmWEs1ormu9aKHjDdZJy1B7z"> Matters </a>
      <br>
          <a href="/philosophia-wuhan3.html">我们还应看到什么</a> 
      <br>
          <a href="shaozi.html">发哨子的人</a> 一个链接 <a href="https://posts.careerengine.us/p/5e66e78d94d8090dea2879d1?from=marquee"> 人物 </a>
      </p>
      <hr />
    <p style="color:darkgrey;font-size:12px;">Updated: 2020-3</p>
    <p style="font-size:12px;"><a href="/info.html">Click here for further information</a></p>
  </body>
  </html>